@import url("style.css");

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > .dropdown > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

#slides_control {
  position: relative;
  height: 300px;
  overflow:hidden;
  /*left:50%;*/
  top:-10px;
  margin:auto;
}

.Sliderimg {
width: 95%;
height: auto;
margin: -20% auto 2px;
 /*margin-left:-200px;*/
}



.property-quick-info {
	padding: 5px;
	background-color: #EEEEEE;
	border: 1px solid #000000;
	border-radius: 5px;
	/*margin: 15px 0 15px;*/
	margin: 0;
}

.property-quick-info h3 {
	/*padding: 0;*/
	margin: 0;
}

.property-quick-info ul {
	/*display: block;*/
	padding: 0;
	list-style-type: none;
	/*background-color: #DDDDDD;*/
}

.property-quick-info ul li {
	/*display: inline-block;*/
	/*background-color: #AAAAAA;*/
}

.main-image{
	/*background-color: #AAAAAA;*/
	display: inline-block;
	margin: 0;
	text-align: center;
}

.form-group{
	background-color: transparent;
}


/* Tiny devices (tablets, under 768px) */
@media (max-width: 767px) {
	.property-quick-info {
		margin: 15px 0 15px;
	}
	.property-quick-info ul li {
		display: inline-block;
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
	.property-quick-info {
		margin: 15px 0 15px;
	}

	.property-quick-info ul li {
		display: inline-block;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {

}

.slogan {
  min-height: 100%;
  text-align: right;
  margin-top: 7%;
  float: left;
  position: relative;
}

.logoimg {
  float: left;
  padding: 5px;
}

.adminbutton {
  margin: 0;
  float: right;
  position: relative;
}

.textfooter {
  font-size: 70%;
}


.SliderimgProp {
  height: 350px;
  margin: auto;
}