@import url("style.css");

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > .dropdown > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

#slides_control {
  position: relative;
  height: 300px;
  overflow:hidden;
  /*left:50%;*/
  top:-10px;
 margin:auto;
}

.Sliderimg {
width: 95%;
height: auto;
margin: -20% auto 2px;
}