<section>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Sök filter</div>
        <div class="panel-body">

        <form>
          <div class="form-group">
            <label>Sök bostad:</label>
            <input type="text" ng-model="searchText.post.title" class="form-control" placeholder="Sök bostad">
          </div>

          <div class="form-group">
            <label>Välj högsta och lägsta pris:</label>

            <div>
            <!--   <input type="number" ng-model="propFilters.priceRange[0]" class="form-control" aria-describedby="from-price">
              <span class="input-group-addon" id="to-price">To: </span>
              <input type="number" ng-model="propFilters.priceRange[1]" class="form-control" aria-describedby="to-price">
               --> 
               <input ng-model="pricevalue"  type="text" id="mySlider1" slider options="options" />

            </div>
          </div>
          <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="hissFilt" id="inlineCheckbox6" value="1"> Hiss
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="balkFilt" id="inlineCheckbox7" value="1"> Balkong
              </label>
          </div> 

          <div class="form-group">
            <label>Län:</label>
            <select ng-options = "item for item in Areas" class="form-control" ng-model="areaFilt">
              <!-- <option  ng-repeat="area in Areas">{{area}}</option> -->
              <option value="">-- Valj län --</option>
             </select>
            <!--  <label>Kommun:</label>
            <select class="form-control" ng-model="kommunFilt">
              <option  ng-repeat="kom in Kommuns">{{kom}}</option>
             </select>
             <label>Stad:</label>
            <select class="form-control" ng-model="stadFilt">
              <option  ng-repeat="enstad in Towns">{{enstad}}</option>
             </select> -->
          </div>

          <div class="form-group">
            <label>Bostadstyp:</label> 
            <div class="checkbox">
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="propFilters.typeRange.apartment" id="inlineCheckbox1" value="1"> Lägenhet
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="propFilters.typeRange.villa" id="inlineCheckbox2" value="1"> Villa
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="propFilters.typeRange.fritidshus" id="inlineCheckbox3" value="1"> Fritidshus
              </label>
                  <label class="checkbox-inline">
                <input type="checkbox" ng-model="propFilters.typeRange.yard" id="inlineCheckbox4" value="1"> Gård
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="propFilters.typeRange.tomt" id="inlineCheckbox5" value="1"> Tomt
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="propFilters.typeRange.other" id="inlineCheckbox5" checked="checked" value="1"> Övrigt
              </label>
            </div>
            <button ng-click="resetPropTypeRange()" class="btn btn-default">Alla Typer</button>
          </div>
          <div class="form-group">
            <button ng-click="filterReset()" class="btn btn-success">Filter Reset!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="ad-area panel panel-default" ng-repeat="model in propertyModels |filter:searchText | PriceRange:pricevalue | typeRange:propFilters.typeRange | lanFilter:areaFilt |balkongFilter:balkFilt |hissFilter:hissFilt| orderBy:orderKey:reverse">

        <div class="panel-heading">{{model.post.title}}</div>

        <div class="panel-body">
          <div class="row">

            <img class="ad-img img-responsive col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-src="{{model.media[0].source}}">

            <div class="ad-quick-info col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <ul>
                <li>
                  <span>
                    <strong>Typ av bostad: </strong> {{model.propertyData.bostadstyp}}
                  </span>
                </li>
                <li>
                  <span>
                    <strong>Pris: </strong> {{model.propertyData.pris}}:-
                  </span>
                </li>
                <li ng-if="model.propertyData.avgift">
                  <span>
                    <strong>Avgift: </strong> {{model.propertyData.avgift}}:-
                  </span>
                </li>
                <li>
                  <span>
                    <strong>Stad: </strong> {{model.propertyData.stad}}
                  </span>
                </li>
                <li>
                  <span>
                    <strong>Län: </strong> {{model.propertyData.lan}}
                  </span>
                </li>
                <li>
                  <span>
                    <strong>Kommun: </strong> {{model.propertyData.kommun}}
                  </span>
                </li>
                <li ng-if="model.propertyData.rum">
                  <span>
                    <strong>Rum: </strong> {{model.propertyData.rum}}
                  </span>
                </li>
                
                <li ng-if="model.propertyData.byggar">
                  <span>
                    <strong>Byggår: </strong> {{model.propertyData.byggar}}
                  </span>
                </li>
                <li ng-if="model.propertyData.boarea">
                  <span>
                    <strong>Boarea: </strong> {{model.propertyData.boarea}} m<sup>2</sup>
                  </span>
                </li>
                <li ng-if="model.propertyData.tomtarea">
                  <span>
                    <strong>Tomtarea: </strong> {{model.propertyData.tomtarea}} m<sup>2</sup>
                  </span>
                </li>
                <li ng-if="model.propertyData.vaning">
                  <span>
                    <strong>Våning: </strong> {{model.propertyData.vaning}}
                  </span>
                </li>
                <li>
                  <span>
                    <strong>Hiss: </strong> {{model.propertyData.hiss/1 ? "Ja" : "Nej"}}
                  </span>
                </li>
                <li>
                  <span>
                    <strong>Balkong: </strong> {{model.propertyData.balkong/1 ? "Ja" : "Nej"}}
                  </span>
                </li>
              </ul>
            </div>

          </div>
          <div class="row ad-text" ng-bind-html="model.post.excerpt">

          </div>

          <div class="ad-button-area row">
            <button class="btn btn-sm btn-success col-xs-12 col-sm-12 col-md-2 col-lg-2" ng-click="goTo('fastigheter/'+model.post.slug)">Mer info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>