<section class="container">
  <div class="row">
     
    <div class="panel panel-default">
       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

      <div class="panel panel-default">
        <div class="panel-heading">Filter:</div>
        <div class="panel-body">

          <form>
            <div class="form-group">
              <label>Price Range:</label>

              <div>
              <!--   <input type="number" ng-model="propFilters.priceRange[0]" class="form-control" aria-describedby="from-price">
                <span class="input-group-addon" id="to-price">To: </span>
                <input type="number" ng-model="propFilters.priceRange[1]" class="form-control" aria-describedby="to-price">
                 --> 
                 <input ng-model="pricevalue"  type="text" id="mySlider1" slider options="options" />

              </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="hissFilt" id="inlineCheckbox6" value="1"> Hiss
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="balkFilt" id="inlineCheckbox7" value="1"> Balkong
                </label>
            </div> 

            <div class="form-group">
              <label>Län:</label>
              <select ng-options = "item for item in Areas" class="form-control" ng-model="areaFilt">
                <!-- <option  ng-repeat="area in Areas">{{area}}</option> -->
                <option value="">-- Valj län --</option>
               </select>
              <!--  <label>Kommun:</label>
              <select class="form-control" ng-model="kommunFilt">
                <option  ng-repeat="kom in Kommuns">{{kom}}</option>
               </select>
               <label>Stad:</label>
              <select class="form-control" ng-model="stadFilt">
                <option  ng-repeat="enstad in Towns">{{enstad}}</option>
               </select> -->
            </div>

            <div class="form-group">
              <label>Bostadstyp:</label> 
              <div class="checkbox">
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="propFilters.typeRange.apartment" id="inlineCheckbox1" value="1"> Lägenhet
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="propFilters.typeRange.villa" id="inlineCheckbox2" value="1"> Villa
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="propFilters.typeRange.fritidshus" id="inlineCheckbox3" value="1"> Fritidshus
                </label>
                    <label class="checkbox-inline">
                  <input type="checkbox" ng-model="propFilters.typeRange.yard" id="inlineCheckbox4" value="1"> Gård
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="propFilters.typeRange.tomt" id="inlineCheckbox5" value="1"> Tomt
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="propFilters.typeRange.other" id="inlineCheckbox5" checked="checked" value="1"> Övrigt
                </label>
              </div>
              <button ng-click="resetPropTypeRange()" class="btn btn-default">Alla Typer</button>
            </div>
            <div class="form-group">
              <button ng-click="filterReset()" class="btn btn-success">Filter Reset!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
      <!-- Default panel contents -->
     <!--  <div class="panel-heading">Results:</div>
      <div class="panel-body">
        <p>Your filters will appear here.</p>
      </div> -->

      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <!-- Table -->
      <table class="table col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <tr>
          <th></th>
          <th></th> 
          <th>
            <span class="glyphicon  glyphicon-arrow-up"  ng-click="changeOrderBy('propertyData.pris', true)"></span>
            <span class="glyphicon  glyphicon-arrow-down" ng-click="changeOrderBy('propertyData.pris', false)"></span>
          </th>
          <th></th>
        </tr>
        <!-- | kommun:kommunFilt | stad:stadFilt  -->
        <tr ng-repeat="model in propertyModels | PriceRange:pricevalue | typeRange:propFilters.typeRange | lanFilter:areaFilt |balkongFilter:balkFilt |hissFilter:hissFilt| orderBy:orderKey:reverse">
          <td>{{model.post.title}}</td>
          <td><img class="annonsimg" ng-src="{{model.media[0].source}}">
            <div class="anons" ng-bind-html="model.post.excerpt"></div>
          </td>
          <td>{{model.propertyData.pris}} SEK</td>
          <td><button class="btn btn-sm btn-success" ng-click="goTo('estate/'+model.post.slug)">All info</button></td>
        </tr>
      </table>
      </div>
    </div>

  </div>
</section>