<article class="col-xs-10 col-sm-10  col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 row">
  

  <h2>{{property.post.title}}</h2>

  <img class="img-responsive" ng-src="{{property.media[0].source}}">

  <article class="col-xs-12 col-sm-12  col-md-3 col-lg-3  col-md-offset-1 col-lg-offset-1 row">
    <div>
      <h3>Info</h3>
      <ul>
        <li>Stad: {{property.propertyData.stad}}</li>
        <li>Pris: {{property.propertyData.pris}}:-</li>
        <li>Avgift: {{property.propertyData.avgift}}:-</li>
        <li>Typ av bostad: {{property.propertyData.bostadstyp}}</li>
        <li>Rum: {{property.propertyData.rum}}</li>
        <li>Byggår: {{property.propertyData.byggar}}</li>
        <li>Boarea: {{property.propertyData.boarea}}</li>
        <li>Tomtarea: {{property.propertyData.tomtarea}}</li>
        <li>Län: {{property.propertyData.lan}}</li>
        <li>Kommun: {{property.propertyData.kommun}}</li>
        <li>Våning: {{property.propertyData.vaning}}</li>
        <li>Hiss: {{property.propertyData.hiss/1 ? "Ja" : "Nej"}}</li>
        <li>Balkong: {{property.propertyData.balkong/1 ? "Ja" : "Nej"}}</li>
      </ul>
    </div>

    <div class="col-md-12" ng-bind-html="property.post.content">
     
    </div>
  </article>

</article>



