<section class="container">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-6">
    <h3>Sellforce.</h3>
    <p class="textfooter">
      Sellforce är marknadens vassaste och modernaste mäklarbyrå. <br>
      Boendet Du vill ha, leverar vi.
    </p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-6">
    <h3>Kontakt:</h3>
    <p class="textfooter">
      <b>Telefon: </b>040-123456 <br>
      <b>Träffa oss: </b>Marsgången 42 C <br>
      <b><a href="mailto:kontakt@sellforce.se">Maila oss!</a></b>
    </p>
  </div>
</section>
