<section class="container">
  <div class="row" ng-init="allImgs = true;">
    <div ng-controller="imagesController">
      <carousel interval="myInterval">
        <slide ng-repeat="image in imgData" active="image.active">
          <img ng-src="{{image.source}}">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{image.title}}</p>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="col-md-12">
      <h1>Sellforce. <small>Modern mäklarbyrå nära dig.</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" ng-click="collapseNav()" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" ng-click="goTo('/')">Home</a>
          </div>
          <div class="navbar-collapse" ng-class="{true: 'collapse', false: ''}[navIsCollapsed]">
            <ul class="nav navbar-nav" ng-include="partialsDir + 'views/menuRecursor.html'">
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
              </div>
              <button ng-click="searchFor(searchText)" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
