<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Sellforce. <small>Modern mäklarbyrå nära dig.</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <!-- <li><a href="home">Hem</a></li>
          <li><a href="property">Fastigheter</a></li>
          <li><a href="about">Om oss</a></li>
          <li><a href="contact">Kontakta oss</a></li> -->
          <li ng-repeat="item in menuLinks.items">
            <a ng-href="{{item.url}}">{{item.title}}</a>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
          </div>
          <button ng-click="searchFor(searchText)" class="btn btn-default">Submit</button>
        </form>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-4">
      
      
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>
  </div>
</section>
