<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Sellforce. <small>Modern mäklarbyrå nära dig.</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav" ng-include="partialsDir + 'views/menuRecursor.html'">
        </ul>

        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
          </div>
          <button ng-click="searchFor(searchText)" class="btn btn-default">Submit</button>
        </form>
      </nav>
    </div>
  </div>
</section>
